{% extends '_base.html' %} {% load static %} {% block title %}Reset
Password{%endblock title %} {%block css %} 
<style>
    .form-group label {
        font-weight: bold;
    }
    .form-group input {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
</style>
{% endblock css %} {% block content%}
<div class="container d-flex justify-content-center text-white">
  <div
    class="card p-3 mt-5 shadow"
    style="
      width: 30rem;
      background: transparent;
      border: 2px solid rgb(251, 86, 86);
    "
  >
    <div class="card-header d-flex justify-content-center bg-primary">
      <h1>Reset Your Password</h1>
    </div>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.new_password1 }}
      </div>
      <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{ form.new_password2 }}
      </div>
      <div class="col-lg-12 d-flex justify-content-end mt-2">
        <button type="submit" class="btn btn-secondary">
          Change my password
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
