{% extends '_base.html' %} {% load static %} {% block title %}Login{% endblock title %} {%block css %} {% endblock css %} {% block content %}
<div class="container d-flex justify-content-center text-white">
  <div
    class="card p-3 mt-5 shadow"
    style="
      width: 30rem;
      background: transparent;
      border: 2px solid rgb(251, 86, 86);
    "
  >
    <div class="card-header d-flex justify-content-center bg-primary">
      <h1>Password Changed Successfully</h1>
    </div>
    <div class="col-lg-12 mt-1">
      <a url={% url 'login_page' %} >Proceed to Login</a>
    </div>
  </div>
  {% endblock content %}
</div>
